
* {
    margin: 0;
    padding: 0;
}

main {
    overflow-x: hidden;
} 
main,header,footer {
    width: 100%;
}

article {
    width: 100%;
}

header,
article,
main,
footer {
    display: block;
}


#logo {
    position: relative;
    background-image: url("../images/hacker.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 30px;
    left: 40px;
    top: 41px;
    display: block;
}

#logo span {
    position: relative;
    width: 400px;
    height: 33px;
    left: 38px;
    top: -1px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.25em;
    color: #3E3F43;
    display: block;
}

.shape{
    position: absolute;
    width: 278px;
    height: 388px;
    left: 40px;
    top: 119px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 150px;
    background: #f7dea6;
}

.rectangle {
    position: absolute;
    background-color: #f9bdbd;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 555px;
    left: 0;
    top: 123px;
    display: block;
}

.rectangle img {
    position: relative;
    width: 326px;
    height: 288px;
    left: 110px;
    top: 170px;
    border-radius: 65px;
}

.Welcome h2 {
    position: relative;
    font-family: 'Nunito'; 
    width: 465px;
    height: 98px;
    left: 506px;
    top: 206px;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    display: block;
    color: #3E3F43;
}
.Welcome span {
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    display: line;
}
.Welcome p {
    position: relative;
    width: 465px;
    height: 66px;
    left: 506px;
    top: 197px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    display: block;
}

.About_Me h2 {
    position: relative;
    width: 89px;
    height: 40px;
    left: 40px;
    top: 506px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.About_Me section {
    position: relative;
    display: block;
    left: 40px;
    right: 419px;
    top: 530px;
    width: 741px;
    height: 394px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
}

.Exercise h2 {
    position: relative;
    bottom: 1717px;
    font-family: 'Rubik';
    font-style: normal;
    left: 40px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    top: 525px;
    width: 140px;
    height: 40px;
}


.button {
    position: relative;
    transition: 0.5s;
    border-radius: 20px;
    left: 24px;
    background-color: #ffffff;
    width: 120px;
    height: 40px;
    top: 184px;
    display: block;
}

.button p {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    background-color: none;
    line-height: 24px;
    color: #171F46;
    font-size: 14px;
    margin: auto;
    padding-top: 8px;
    position: relative;
    width: 120px;
    height: 40px;
    font-family: 'Rubik';
}

.Exercise1 {
    position: relative;
    left: 40px;
    Width: 200px;
    Height: 264px;
    right: 960px;
    top: 565px;
    background: #FDEDE5;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    bottom: 1429px;
}

.Exercise2 {
    position: relative;
    bottom: 1429px;
    Width: 200px;
    Height: 264px;
    left: 264px;
    background: #EBF1FF;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    right: 736px;
    top: 301px;
}

.Exercise3 {
    position: relative;
    left: 488px;
    background: #EBFFEC;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    right: 512px;
    top: 37px;
    bottom: 1429px;
    Width: 200px;
    Height: 264px;

}

.Exercise4 {
    position: relative;
    left: 712px;
    bottom: 1429px;
    Width: 200px;
    Height: 264px;
    right: 288px;
    background: #FFEBFC;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    top: -227px;
}

.Exercise5 {
    position: relative;
    left: 936px;
    right: 64px;
    top: -491px;
    bottom: 1429px;
    Width: 200px;
    Height: 264px;
    background: #FFFEEB;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}



.Exercise1 .button:hover , .Exercise2 .button:hover,.Exercise3 .button:hover,.Exercise4 .button:hover,.Exercise5 .button:hover {background-color: #171F46;}
.Exercise1 p:hover {color: #FDEDE5;}
.Exercise2 p:hover {color: #EBF1FF;}
.Exercise3 p:hover {color: #EBFFEC;}
.Exercise4 p:hover {color: #FFEBFC;}
.Exercise5 p:hover {color: #FFFEEB;}
    
.Exercise1 h2,.Exercise2 h2,.Exercise3 h2,.Exercise4 h2,.Exercise5 h2 {
    position: relative;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    width: 80px;
    height: 24px;
    text-align: center;
    left: 24px;
    top: 128px;
    color: #000000;
}

.Exercise1 img,.Exercise2 img,.Exercise3 img,.Exercise4 img,.Exercise5 img {
    position: relative;
    width: 80px;
    height: 80px;
    right: 96px;
    left: 24px;
    top: -50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D7DFE9;
    border-radius: 50%;
    border-color: none;
}

a {
    text-decoration: none;
}
    
.Languages h2 {
    position: relative;
    height: 40px;
    left: 40px;
    top: -450px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.Languages ul {
    position: relative;
    left: 80px;
    top: -426px;
    Width: 364px;
    Height: 141px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
} 


.Song h2 {
    position: relative;
    height: 40px;
    left: 40px;
    top: -360px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
}

.Song iframe {
    position: relative;
    background: #FFEBFC;
    box-shadow: 19px 4px 50px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    left: 40px;
    top: -336px;
}


footer {
    position: relative;
    height: 301px;
    left: 0px;
    top: 0px;
    background-color: #dcdbdbc7;
}

.Follow_Me {
    position: relative;
    left: 40px;
    top: 32px;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}

.Instagram {
    position: relative;
    left: 40px;
    top: 73px;
}
.linkedin {
    position: relative;
    left: 40px;
    top: 89px;
}
.Git {
    position: relative;
    left: 40px;
    top: 105px;
    
}

.Instagram a,
.linkedin a,
.Git a{
    position: relative;
    text-decoration:none;
    color: #8D8D8D;
    font-family: 'Nunito';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    transition: color 0.5s ease;
    transition: font-size 0.5s ease;
}



.Instagram a:hover,
.linkedin a:hover,
.Git a:hover{
    color: #000000;
    font-size: 18px;
} 

footer h6 {
    position: relative;
    left: 40px;
    top: 175px;
    font-family: 'Nunito';
}
