* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  position: relative;
}

/* body{
            overflow-x: hidden;
    } */

header,
main,
nav,
aside,
section,
footer {
  display: block;
}

header,
main,
footer {
  width: 100%;
}

header {
  background-color: #33774b;
  height: 123px;
}

header > nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > nav > a {
  height: 100%;
  margin-right: 18px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

header > nav > a:hover > span {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: wavy;
  transition: color 0.5s ease-in;
}

header > nav > a > span {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

/* 
    1. circle - specifies the shape of the gradient as a circle.
    2. at 50% 30% - specifies the center point of the circle gradient. In this case, the center point is positioned at 50% of the width and 30% of the height of the element.
    3. red 7px - specifies the color stop of the gradient, which is red at a distance of 7 pixels from the center point.
    4. transparent 6px - specifies another color stop, which is transparent at a distance of 6 pixels from the center point. */

header > nav > a.selected {
  background-image: radial-gradient(
    circle at 50% 30%,
    red 7px,
    transparent 6px
  );
}

/*                                   Layout1                                         */

#wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
}

main {
  justify-content: center;
  display: flex;
}

main > #Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 140px;
}

main > #Text > p.mix {
  position: relative;
  font-family: "Amiko";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 96px;
  color: #000000;
  letter-spacing: 20px;
}

main > #Text > p.layout {
  position: relative;
  font-family: "Amiko";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

main #THE-MIX {
  height: 624px;
  width: 437px;
  left: 444px;
  border-radius: 0px;
  margin-left: 70px;
  margin-top: 140px;
}

.Conatiner_Grand_Father_row,
.First_Col_Row_Two_Rectangle {
  display: flex;
  flex-direction: row;
}

.Grand_Father_column,
.father_column,
.Grand_Son_column {
  display: flex;
  flex-direction: column;
}

.father_column {
  margin-top: 44px;
}

.Rectangle_4 {
  background: #518460;
  bottom: 89.26%;
  margin-bottom: 11px;
  margin-left: 13px;
  height: 23px;
  width: 75px;
  top: 44px;
}

.Rectangle_5 {
  background: #81c495;
  margin-bottom: 11px;
  margin-left: 13px;
  right: 82.84%;
  bottom: 89.26%;
  height: 46px;
  width: 136px;
  top: 75px;
}

.Rectangle_6 {
  background: #283b2e;
  margin-bottom: 11px;
  margin-left: 13px;
  right: 82.84%;
  bottom: 89.26%;
  height: 404px;
  width: 134px;
  top: 132px;
}

.Rectangle_10 {
  background: #789d84;
  margin-bottom: 11px;
  margin-left: 13px;
  right: 82.84%;
  bottom: 89.26%;
  height: 28px;
  width: 88px;
  top: 547px;
}

.Rectangle_11,
.Rectangle_11_1 {
  display: flex;
  flex-direction: row;
  background: #017e28b9;
  margin-bottom: 11px;
  margin-left: 13px;
  right: 82.84%;
  bottom: 89.26%;
  height: 26px;
  width: 25px;
  top: 582px;
}

.Rectangle_2 {
  background: #2b4f2e;
  margin-bottom: 11px;
  margin-left: 13px;
  margin-top: 44px;
  right: 82.84%;
  bottom: 89.26%;
  top: 44px;
  width: 246px;
  height: 352px;
}

.Rectangle_8,
.Rectangle_8_1 {
  background: #3e9b55;
  margin-bottom: 11px;
  margin-left: 13px;
  right: 82.84%;
  top: 7.05%;
  bottom: 89.26%;
  width: 55px;
  height: 105px;
}

.Rectangle_8_1 {
  background: #2d4533;
  margin-left: 41px;
}

.Rectangle_9 {
  background-color: #2a2c2a;
  margin-bottom: 11px;
  margin-left: 13px;
  left: 0%;
  right: 82.84%;
  top: 7.05%;
  bottom: 89.26%;
  width: 110px;
  height: 58px;
}

.Rectangle_3,
.Rectangle_3_1,
.Rectangle_3_2,
.Rectangle_3_3 {
  background: #56d888a3;
  margin-bottom: 11px;
  margin-left: 13px;
  right: 82.84%;
  top: 7.05%;
  bottom: 89.26%;
  width: 28px;
  height: 55px;
}

.Rectangle_3_3 {
  background: #78b790a3;
  height: 198px;
}

.Rectangle_7 {
  background: #518460;
  margin-bottom: 11px;
  margin-left: 13px;
  right: 82.84%;
  top: 7.05%;
  bottom: 89.26%;
  width: 123px;
  height: 212px;
}

/*                                   Layout2                                         */

#wrapper_lay_2 {
  flex-direction: row;
  display: flex;
  width: 1440px;
  height: 1860px;
  margin: 0px auto;
}

#wrapper_lay_2 > section > div {
  display: flex;
}

/* section#left == child1*/

#wrapper_lay_2 > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  margin-top: 119px;
  width: 457px;
  height: 1901px;
  margin-left: 151px;
  margin-right: 27.5px;
}

/* section#middle == child2*/

#wrapper_lay_2 > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  margin-top: 287px;
  width: 457px;
  height: 1901px;
  margin-left: 27.5px;
  margin-right: 151px;
}

/* section#right == child3*/

#wrapper_lay_2 > section:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 169px;
  height: 1925px;
  background-color: #6ebb7a;
}

/* section#left == child1*/
/* <div class="box1"> == nth-child(1)*/
/* <div class="box2"> == nth-child(2)*/
/* <div class="box3"> == nth-child(3)*/
/* <div class="box4"> == nth-child(4)*/
/* <div class="box5"> == nth-child(5)*/

#wrapper_lay_2 > section:nth-child(1) > div:nth-child(1),
#wrapper_lay_2 > section:nth-child(1) > div:nth-child(2),
#wrapper_lay_2 > section:nth-child(1) > div:nth-child(3),
#wrapper_lay_2 > section:nth-child(1) > div:nth-child(4),
#wrapper_lay_2 > section:nth-child(1) > div:nth-child(5) {
  display: flex;
  height: 299px;
  width: 457px;
  background-color: #48814e;
}

#wrapper_lay_2 > section:nth-child(1) > div:nth-child(2),
#wrapper_lay_2 > section:nth-child(1) > div:nth-child(3),
#wrapper_lay_2 > section:nth-child(1) > div:nth-child(4),
#wrapper_lay_2 > section:nth-child(1) > div:nth-child(5) {
  margin-top: 70px;
}

#wrapper_lay_2 > section:nth-child(1) > div:nth-child(5) {
  height: 265px;
}

/* section#middle == child2*/
/* <div class="box6"> == nth-child(1)*/
/* <div class="box7"> == nth-child(2)*/
/* <div class="box8"> == nth-child(3)*/
/* <div class="box9"> == nth-child(4)*/
/* <div class="box10"> == nth-child(5)*/

#wrapper_lay_2 > section:nth-child(2) > div:nth-child(1),
#wrapper_lay_2 > section:nth-child(2) > div:nth-child(2),
#wrapper_lay_2 > section:nth-child(2) > div:nth-child(3),
#wrapper_lay_2 > section:nth-child(2) > div:nth-child(4),
#wrapper_lay_2 > section:nth-child(2) > div:nth-child(5) {
  height: 299px;
  width: 457px;
  background-color: #5f8363;
}

#wrapper_lay_2 > section:nth-child(2) > div:nth-child(2),
#wrapper_lay_2 > section:nth-child(2) > div:nth-child(3),
#wrapper_lay_2 > section:nth-child(2) > div:nth-child(4),
#wrapper_lay_2 > section:nth-child(2) > div:nth-child(5) {
  margin-top: 70px;
}

/* section#right == child3*/
/* section#top == child1*/
/* <div class="box11"> == nth-child(1)*/
/* <div class="box12"> == nth-child(2)*/
/* <div class="box13"> == nth-child(3)*/

#wrapper_lay_2 > section:nth-child(3) > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  width: 169px;
  height: 1264px;
}

#wrapper_lay_2 > section:nth-child(3) > section:nth-child(1) > div {
  display: flex;
}

#wrapper_lay_2
  > section:nth-child(3)
  > section:nth-child(1)
  > div:nth-child(1) {
  margin-top: 119px;
  width: 80px;
  height: 80px;
  background-color: black;
}

#wrapper_lay_2
  > section:nth-child(3)
  > section:nth-child(1)
  > div:nth-child(2) {
  margin-top: 48px;
  margin-left: 89px;
  width: 80px;
  height: 80px;
  background-color: rgb(26, 183, 81);
}

#wrapper_lay_2
  > section:nth-child(3)
  > section:nth-child(1)
  > div:nth-child(3) {
  margin-top: 289px;
  width: 80px;
  height: 80px;
  background-color: black;
}

/* section#right == child3*/
/* section#down == child2*/

#wrapper_lay_2 > section:nth-child(3) > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 169px;
  height: 641px;
}

#wrapper_lay_2 > section:nth-child(3) > section:nth-child(2) > div {
  display: flex;
}

#wrapper_lay_2 > section:nth-child(3) > section:nth-child(2) > a {
  margin-left: 44px;
  width: 81px;
  height: 641px;
  font-family: "Amiko";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 128px;
  text-decoration-line: none;
  color: #000000;
}

/*                                   Layout3                                         */

#wrapper_lay_3 {
  flex-direction: row;
  display: flex;
  width: 1440px;
  height: 1459px;
  margin: 0px auto;
}

/* section#left == section:nth-child(1) */

#wrapper_lay_3 > section:nth-child(1) {
  display: flex;
  flex-direction: column;
  height: 995px;
  width: 372px;
  background-color: #6fc773;
}

/* nav */

#wrapper_lay_3 > section:nth-child(1) > nav {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper_lay_3 > section:nth-child(1) > nav > a {
  height: 100%;
  margin-right: 18px;
  display: flex;
  align-items: center;
  margin-bottom: 620px;
}

#wrapper_lay_3 > section:nth-child(1) > nav > a:hover > span {
  color: #ffffff;
  text-decoration: underline;
  text-decoration-style: wavy;
  transition: color 0.5s ease-in;
}

#wrapper_lay_3 > section:nth-child(1) > nav > a > span {
  font-family: "Amiko";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

#wrapper_lay_3 > section:nth-child(1) > nav > a.selected {
  background-image: radial-gradient(
    circle at 50% 47%,
    red 7px,
    transparent 6px
  );
}

#wrapper_lay_3 > section:nth-child(1) > div {
  display: flex;
}

#wrapper_lay_3 > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  height: 995px;
  width: 964px;
}

#wrapper_lay_3 > section:nth-child(2) > div:nth-child(1) {
  display: flex;
  height: 463px;
  margin-top: 995px;
}

div#wrapper_lay_3 > section:nth-child(3) > div:nth-child(1) {
  width: 104px;
  height: 995px;
  background: #87a08a;
}

#wrapper_lay_3 > section:nth-child(4) {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 463px;
  left: auto;
  right: auto;
  top: 1118px;
  background: #48814e;
  order: 4;
  justify-content: center;
}

footer {
  position: fixed;
  height: 41px;
  bottom: 0;
  background-color: #000000;
}

@media only screen and (max-width: 486px) {
  header {
    width: 100%;
    height: 123px;
    background: #f2e9e9;
  }

  #wrapper_lay_3 > section:nth-child(1) {
    width: 100%;
  }

  #wrapper_lay_3 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #right {
    display: none;
  }

  #middle {
    display: none;
  }

  #wrapper_lay_3 > section:nth-child(1) {
    display: flex;
    flex-direction: column;
    height: 105px;
    width: 100%;
    background: #e5e5e5;
    top: 123px;
  }

  #new-section {
    width: 1440px;
    height: 474px;
    left: 0px;
    top: 1574px;
    background: #ebef18;
  }

  #wrapper_lay_3 > section:nth-child(1) > nav > a {
    height: 100%;
    margin-right: 18px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }

  #wrapper_lay_3 > section:nth-child(1) > nav > a.selected {
    background-image: radial-gradient(
      circle at 50% 30%,
      red 7px,
      transparent 6px
    );
  }

  #wrapper_lay_3 > section:nth-child(4) {
    display: flex;
    position: absolute;
    width: 1440px;
    height: 463px;
    left: auto;
    right: auto;
    top: 1118px;
    background: #ebef18;
    order: 4;
    justify-content: center;
  }

  footer {
    position: fixed;
    width: 1440px;
    height: 41px;
    bottom: 0;
    background-color: #000000;
  }
}